<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word</title>
</head>
<body>
    <h1>Random Word</h1>
    <fieldset>
        <legend>Random Word</legend>
        <h3>Word: @ViewBag.word</h3>
        <h3>Count: @ViewBag.count</h3>
        <a href="/generate"><button>Generate a random word</button></a>
        <a href="/reset"><button>Reset</button></a>
    </fieldset>
    
</body>
</html>